@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* не понял зачем тут предлагают использовать миксы */
.rotation {
  animation: rotation 20s linear infinite;
}

